HOST_HTML_PATH=/path/to/html/dir/on/host/html
HOST_CGI_PATH=/path/to/cgi-bin/dir/on/host/cgi-bin
HOST_UPLOADS_PATH=/path/to/uploads/dir/on/host/uploads
CONTAINER_HTML_PATH=/app/html
CONTAINER_CGI_PATH=/app/cgi-bin
CONTAINER_UPLOADS_PATH=/app/uploads
