apiVersion: apps/v1
kind: Deployment
metadata:
  name: mopa-laser-rasterizer
  namespace: default
  labels:
    app: mopa-laser-rasterizer
    version: v1
spec:
  replicas: 3
  selector:
    matchLabels:
      app: mopa-laser-rasterizer
  template:
    metadata:
      labels:
        app: mopa-laser-rasterizer
    spec:
      containers:
      - name: mopa-laser-rasterizer
        image: mopa-laser-rasterizer:local
        imagePullPolicy: IfNotPresent
        ports:
        - name: http
          containerPort: 8000
          protocol: TCP
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "2048Mi"
            cpu: "500m"
#        livenessProbe:
#          httpGet:
#            path: /
#            port: http
#          initialDelaySeconds: 10
#          periodSeconds: 6
#          timeoutSeconds: 60
#          failureThreshold: 3
#        readinessProbe:
#          httpGet:
#            path: /
#            port: http
#          initialDelaySeconds: 5
#          periodSeconds: 6
#          timeoutSeconds: 60
#          failureThreshold: 150
        volumeMounts:
        - name: static
          mountPath: ${CONTAINER_STATIC_PATH}
          readOnly: true
        - name: templates
          mountPath: ${CONTAINER_TEMPLATE_PATH}
          readOnly: true
        - name: uploads
          mountPath: ${CONTAINER_UPLOADS_PATH}
          readOnly: false
        - name: local-script-volume
          mountPath: ${CONTAINER_SCRIPT_PATH}
          readOnly: false

      volumes:
      - name: static
        hostPath:
          path: ${HOST_STATIC_PATH}
          type: Directory
      - name: templates
        hostPath:
          path: ${HOST_TEMPLATES_PATH}
          type: Directory
      - name: uploads
        hostPath:
          path: ${HOST_UPLOADS_PATH}
          type: DirectoryOrCreate
      - name: local-script-volume
        hostPath:
          path:  ${HOST_SCRIPT_PATH}
          type: Directory